<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Under Maintenance</title>
</head>

<body>
  <h1>The website is currently being updated to serve you better!</h1>
  <h3>We will be back shortly.</h3>
</body>

</html>